/* public */
.public_title p:first-child {
  font-size: 0.29rem /* 55/192 */;
  color: #46b4ff;
}
.public_title p:nth-child(2) {
  color: #fff;
  font-size: 0.16rem /* 30/192 */;
  margin: 0.05rem /* 10/192 */ 0;
}
.public_title p:nth-child(3) {
  color: #fff;
  font-size: 0.1rem /* 20/192 */;
  border-bottom: 0.01rem /* 2/192 */ solid #fff;
  padding-bottom: 0.01rem /* 2/192 */;
  display: inline-block;
}
.public_title p.team_p {
  margin: 0.03rem /* 5/192 */ 0;
}
.public_title p.c_b {
  color: #000;
}
.public_title p.underline {
  border-bottom: 0.01rem /* 2/192 */ solid #46b4ff;
  padding-bottom: 0.02rem /* 4/192 */ ；;
}
/* worry */
.worry {
  height: 4.32rem /* 830/192 */;
  background-color: #fff;
  text-align: center;
}
.worry_title {
  padding-top: 0.52rem /* 100/192 */;
  font-size: 0.16rem /* 30/192 */;
}
.worry_title div {
  color: #fff;
  margin-top: 0.16rem /* 30/192 */;
  margin-bottom: 0.68rem /* 130/192 */;
  display: inline-block;
  background-color: #fe0000;
  padding: 0.03rem /* 5/192 */ 0.17rem /* 32/192 */;
}
.worry_content {
  display: flex;
  justify-content: center;
}
.worry_content ul:first-child {
  margin-right: 0.7rem /* 135/192 */;
}
.worry_content ul:last-child {
  margin-left: 0.34rem /* 65/192 */;
}
.worry_content ul li {
  text-align: center;
}
.worry_content ul li p {
  font-size: 0.09rem /* 18/192 */;
  margin-top: 0.05rem /* 10/192 */;
}
.worry_content ul:first-child li:first-child {
  font-size: 0.13rem /* 25/192 */;
  margin-bottom: 0.73rem /* 140/192 */;
}
.worry_content ul:last-child li:first-child {
  font-size: 0.13rem /* 25/192 */;
  margin-bottom: 0.6rem /* 115/192 */;
}
.worry_content ul li p:first-child {
  font-size: 0.13rem /* 25/192 */;
}
.worry_content .underline {
  display: inline;
  border-bottom: 0.01rem /* 2/192 */ solid #fe0000;
}
.worry_content img {
  width: 1.81rem /* 348/192 */;
  height: 1.55rem /* 298/192 */;
  margin-top: 0.03rem /* 5/192 */;
}
/* satisfy */
.satisfy {
  text-align: center;
  background: url(../img/ecomOperate/ditu_02_min.jpg) no-repeat;
  background-size: cover;
  padding-top: 0.94rem /* 180/192 */;
  box-sizing: border-box;
  position: relative;
}
.satisfy .satisfy_title {
  font-size: 0.16rem /* 30/192 */;
  color: #fff;
  margin: 0.29rem /* 56/192 */ 0 0.39rem /* 75/192 */ 0;
}
.satisfy .satisfy_title.sp {
  margin-bottom: 0.31rem /* 60/192 */;
}
.satisfy .satisfy_title p:last-child {
  font-size: 0.1rem /* 20/192 */;
  color: #fff;
  border-bottom: 0.01rem /* 2/192 */ solid #fff;
  display: inline;
}
.satisfy_platform ul {
  display: flex;
  justify-content: center;
  margin-top: 0.21rem /* 40/192 */;
}
.satisfy_platform ul li {
  float: left;
  margin-right: 0.42rem /* 80/192 */;
  width: 0.65rem /* 125/192 */;
}
.satisfy_platform ul li:last-child {
  margin-right: 0;
}
.satisfy_platform ul li img {
  width: 0.56rem /* 107/192 */;
  height: 0.56rem /* 107/192 */;
}
.satisfy_platform ul li p {
  font-size: 0.09rem /* 18/192 */;
  color: #fff;
  margin-top: 0.09rem /* 18/192 */;
  white-space: nowrap;
}
.satisfy_content {
  padding-bottom: 0.89rem /* 170/192 */;
  display: inline-block;
}
.satisfy_content ul {
  color: #fff;
  /* display: inline-block;
  margin: 0 auto; */
}
.satisfy_content ul:last-child {
  margin-top: 0.31rem /* 60/192 */;
}
.satisfy_content ul li {
  float: left;
  margin-right: 0.42rem /* 80/192 */;
  text-align: center;
}
.satisfy_content ul li:last-child {
  margin-right: 0;
}
.satisfy_content ul:last-child li:nth-child(1) {
  margin-right: 0.47rem /* 90/192 */;
}
.satisfy_content ul:last-child li:nth-child(2) {
  margin-right: 0.46rem /* 88/192 */;
}
.satisfy_content .content_title {
  font-size: 0.13rem /* 25/192 */;
  margin-bottom: 0.1rem /* 20/192 */;
}
.satisfy_content .content_title img {
  width: 0.24rem /* 46/192 */;
  height: 0.24rem /* 46/192 */;
  vertical-align: bottom;
  margin-right: 0.03rem /* 5/192 */;
}
.satisfy_content .content_desc {
  text-align: left;
  font-size: 0.09rem /* 18/192 */;
}
.satisfy_content .content_desc p {
  margin-bottom: 0.03rem /* 6/192 */;
}
.satisfy > img {
  width: 0.68rem /* 130/192 */;
  height: 0.67rem /* 129/192 */;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.satisfy > img:first-child {
  top: -0.34rem /* 65/192 */;
}
.satisfy > img:last-child {
  bottom: -0.34rem /* 65/192 */;
}
/* process */
.process {
  text-align: center;
  padding: 0.94rem /* 180/192 */ 0;
  background-color: #fff;
}
.process ul {
  display: inline-block;
  margin: 0 auto;
  margin-top: 0.29rem /* 55/192 */;
}
.process ul li {
  float: left;
  margin-right: 0.16rem /* 30/192 */;
  position: relative;
}
.process ul .li_arrow {
  width: 0.1rem /* 20/192 */;
  height: 0.09rem /* 17/192 */;
  background: url(../img/ecomOperate/jiantou_03.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 20%;
  right: -0.11rem /* 22/192 */;
}
.process ul li p {
  font-size: 0.07rem /* 13/192 */;
  color: #666;
}
.process ul li > p {
  color: #000;
  font-size: 0.09rem /* 18/192 */;
  margin: 0.13rem /* 25/192 */ 0;
}
.process ul li img {
  width: 0.45rem /* 87/192 */;
  height: 0.45rem /* 87/192 */;
}
.process ul li > div {
  text-align: left;
}
.process ul li:nth-child(2) > div {
  text-align: center;
}
/* team */
.team {
  text-align: center;
  background: url(../img/ecomOperate/ditu_05_min.jpg) no-repeat;
  background-size: cover;
  padding-top: 0.94rem /* 180/192 */;
  box-sizing: border-box;
  height: 5.95rem /* 1143/192 */;
  position: relative;
}
.team_content {
  text-align: center;
  margin-top: 0.29rem /* 55/192 */;
}
.team_content > img {
  border-radius: 0.13rem /* 25/192 */;
  margin-bottom: 0.04rem /* 8/192 */;
  width: 5.23rem /* 1005/192 */;
  height: 1.86rem /* 357/192 */;
}
.team_content ul {
  display: inline-block;
  margin: 0 auto;
}
.team_content ul li {
  float: left;
  margin-right: 0.03rem /* 5/192 */;
}
.team_content ul li:last-child {
  margin-right: 0;
}
.team_content ul li img {
  width: 1.73rem /* 333/192 */;
  height: 1.31rem /* 251/192 */;
}
.team > img {
  width: 0.68rem /* 130/192 */;
  height: 0.67rem /* 129/192 */;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.team > img:first-child {
  top: -0.34rem /* 65/192 */;
}
.team > img:last-child {
  bottom: -0.34rem /* 65/192 */;
}
/* issues */
.issues {
  text-align: center;
  padding: 0.94rem /* 180/192 */ 0;
  background-color: #fff;
}
.issues li > img {
  width: 0.99rem /* 190/192 */;
  height: 0.99rem /* 190/192 */;
}
.issues li a > img {
  width: 0.68rem /* 130/192 */;
  height: 0.14rem /* 26/192 */;
}
.issues ul {
  display: inline-block;
  margin: 0 auto;
  margin-top: 0.21rem /* 40/192 */;
}
.issues ul li {
  float: left;
  margin-right: 0.39rem /* 75/192 */;
}
.issues ul li:last-child {
  margin-right: 0;
}
.issues ul li p {
  font-size: 0.09rem /* 18/192 */;
  margin: 0.09rem /* 18/192 */ 0;
}
/* example */
.example {
  text-align: center;
  background: url(../img/ecomOperate/ditu_07_min.jpg) no-repeat;
  background-size: cover;
  padding: 0.94rem /* 180/192 */ 0;
  box-sizing: border-box;
  position: relative;
}
.example .example_ul {
  font-size: 0.09rem /* 18/192 */;
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 0.29rem /* 55/192 */ 0 0.31rem /* 60/192 */ 0;
}
.example_ul > ul li {
  text-align: left;
  margin-bottom: 0.03rem /* 6/192 */;
  background: url(../img/ecomOperate/3_14.png) no-repeat left center;
  background-size: 0.06rem /* 11/192 */ 0.06rem /* 11/192 */;
  padding-left: 0.1rem /* 20/192 */;
}
.example > ul {
  display: inline-block;
  margin: 0 auto;
}
.example > ul img {
  width: 2.63rem /* 505/192 */;
  height: 1.08rem /* 207/192 */;
}
.example > ul li {
  float: left;
  margin-right: 0.26rem /* 50/192 */;
}
.example > ul :last-child {
  margin-right: 0;
}
.extension {
  font-size: 0.16rem /* 30/192 */;
  color: #fff;
}
.extension .extension_tltle {
  margin: 0.42rem /* 80/192 */ 0 0.31rem /* 60/192 */ 0;
}
.extension img {
  width: 5.59rem /* 1073/192 */;
  height: 2.72rem /* 522/192 */;
}
.extension img:last-child {
  width: 5.59rem /* 1073/192 */;
  height: 2.61rem /* 501/192 */;
}
.example > img {
  width: 0.68rem /* 130/192 */;
  height: 0.67rem /* 129/192 */;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.example > img:first-child {
  top: -0.34rem /* 65/192 */;
}
.example > img:last-child {
  bottom: -0.34rem /* 65/192 */;
}

.banner {
  padding-top: 51% /*980/1920*/
}
@media screen and (max-width: 750px) {
  #ecomOperate {
    display: none;
  }
  #mobile {
    display: block;
    text-align: center;
    color: #333;
  }
  .banner_m {
    padding-top: 51.8% /* 389/750 */;
  }
  .ecop_title {
    padding: 0.73rem /* 55/75 */ 0 0.4rem /* 30/75 */ 0;
  }
  .ecop_title .title {
    color: #46b4ff;
    font-size: 0.53rem /* 40/75 */;
    margin-bottom: 10px;
  }
  .ecop_title .desc {
    font-size: 0.27rem /* 20/75 */;
    line-height: 0.4rem /* 30/75 */;
    padding: 0 0.53rem /* 40/75 */;
  }
  .worry_m_title {
    margin: 0.8rem /* 60/75 */ 0 0.53rem /* 40/75 */ 0;
  }
  .worry_m_title .title {
    font-size: 0.48rem /* 36/75 */;
    color: #000;
    margin-bottom: 0.24rem /* 18/75 */;
  }
  .worry_m_title .desc {
    color: #fff;
    font-size: 0.29rem /* 22/75 */;
    display: inline-block;
    background-color: #fe0100;
    padding: 0.07rem /* 5/75 */ 0.33rem /* 25/75 */;
  }
  .worry_m > img {
    width: 3.33rem /* 250/75 */;
    height: 2.73rem /* 205/75 */;
    margin-bottom: 0.47rem /* 35/75 */;
  }
  .worry_m_content {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 0.67rem /* 50/75 */;
  }
  .worry_m_content div {
    text-align: left;
    font-size: 0.29rem /* 22/75 */;
    margin-bottom: 0.27rem /* 20/75 */;
  }
  .worry_m_content span {
    color: #46b4ff;
  }
  .satisfy_m {
    background: url(../img/mobile/ecop/BEIJIN_02.jpg) no-repeat;
    background-size: cover;
    color: #fff;
  }
  .platform_m .title {
    font-size: 0.27rem /* 20/75 */;
    margin-bottom: 0.4rem /* 30/75 */;
  }
  .platform_m ul {
    display: inline-block;
  }
  .platform_m ul:last-child {
    margin-top: 0.47rem /* 35/75 */;
  }
  .platform_m ul li {
    float: left;
    position: relative;
    width: 1.95rem /* 146/75 */;
  }
  .platform_m ul li:last-child {
    margin-right: 0;
  }
  .platform_m ul li img {
    width: 1.12rem /* 84/75 */;
    height: 1.12rem /* 84/75 */;
  }
  .platform_m ul li p {
    font-size: 0.27rem /* 20/75 */;
    margin-top: 0.13rem /* 10/75 */;
  }
  .trusteeship_m {
    margin-top: 1.07rem /* 80/75 */;
    padding: 0 0.6rem /* 45/75 */;
  }
  .trusteeship_m .title {
    font-size: 0.27rem /* 20/75 */;
  }
  .trusteeship_m .title div:first-child {
    margin-bottom: 0.33rem /* 25/75 */;
  }
  .trusteeship_m .content_title {
    font-size: 0.35rem /* 26/75 */;
    margin-bottom: 0.27rem /* 20/75 */;
  }
  .trusteeship_m .content_title img {
    width: 0.61rem /* 46/75 */;
    height: 0.61rem /* 46/75 */;
    vertical-align: bottom;
    margin-right: 0.07rem /* 5/75 */;
  }
  .trusteeship_m .content_desc {
    text-align: left;
    font-size: 0.29rem /* 22/75 */;
  }
  .trusteeship_m .content_desc {
    line-height: 0.51rem /* 38/75 */;
  }
  .trusteeship_m ul {
    padding-bottom: 0.93rem /* 70/75 */;
  }
  .trusteeship_m li {
    width: 46%;
    float: left;
    margin-right: 7%;
    margin-top: 0.8rem /* 60/75 */;
  }
  .trusteeship_m ul li:first-child,
  .trusteeship_m ul li:nth-child(2) {
    margin-top: 0.53rem /* 40/75 */;
  }
  .trusteeship_m ul li:nth-child(even) {
    margin-right: 0;
  }
  .process_m {
    padding: 0 0.27rem /* 20/75 */ 0.93rem /* 70/75 */ 0;
  }
  .process_m ul li {
    float: left;
    width: 20%;
    background: url(../img/mobile/ecop/1.png) no-repeat;
    background-size: 12%;
    background-position: right 35%;
  }
  .process_m ul li:last-child {
    background: none;
  }
  .process_m ul li img {
    width: 1.08rem /* 81/75 */;
    height: 1.08rem /* 81/75 */;
  }
  .process_m ul li p {
    font-size: 0.29rem /* 22/75 */;
    margin-top: 0.07rem /* 5/75 */;
  }
  .bgm_m {
    background: url(../img/mobile/ecop/BEIJIN_04.jpg) no-repeat;
    background-size: cover;
    color: #fff;
  }
  .team_m > img {
    width: 9.33rem /* 700/75 */;
    height: 3.31rem /* 248/75 */;
  }
  .team_m ul {
    display: inline-block;
    margin: 0 auto;
    margin-top: 0.08rem /* 6/75 */;
  }
  .team_m ul li {
    float: left;
    width: 3.08rem /* 231/75 */;
    height: 2.33rem /* 175/75 */;
    margin-right: 0.07rem /* 5/75 */;
  }
  .team_m ul li:first-child {
    background: url(../img/mobile/ecop/3_37.png) no-repeat;
  }
  .team_m ul li:nth-child(2) {
    background: url(../img/mobile/ecop/3_39.png) no-repeat;
  }
  .team_m ul li:last-child {
    margin-right: 0;
    background: url(../img/mobile/ecop/3_41.png) no-repeat;
  }
  .other_m ul {
    display: inline-block;
    margin: 0 auto;
  }
  .other_m ul li {
    float: left;
    width: 3.36rem /* 252/75 */;
    height: 4.44rem /* 333/75 */;
    position: relative;
    margin-right: 0.73rem /* 55/75 */;
    background-size: cover;
  }
  .other_m ul li:first-child {
    background-image: url(../img/mobile/ecop/4_52.png);
  }
  .other_m ul li:nth-child(2) {
    background-image: url(../img/mobile/ecop/4_54.png);
    margin-right: 0;
  }
  .other_m ul:last-child {
    margin-top: 0.4rem /* 30/75 */;
  }
  .other_m ul:last-child li:nth-child(1) {
    background-image: url(../img/mobile/ecop/4_66.png);
  }
  .other_m ul:last-child li:last-child {
    background-image: url(../img/mobile/ecop/4_68.png);
    margin-right: 0;
  }
  .other_m ul li > div {
    position: absolute;
    bottom: 0.2rem /* 15/75 */;
    left: 50%;
    transform: translateX(-50%);
    color: #333;
    font-size: 0.29rem /* 22/75 */;
    width: 100%;
  }
  .other_m ul li .desc {
    margin-bottom: 0.27rem /* 20/75 */;
  }
  .other_m ul li .btn {
    cursor: pointer;
    width: 2rem /* 150/75 */;
    height: 0.4rem /* 30/75 */;
    background: url(../img/mobile/ecop/4_1.png) no-repeat;
    margin: 0 auto;
    color: #fff;
    font-size: 0.27rem /* 20/75 */;
    line-height: 0.4rem /* 30/75 */;
  }
  .example_m {
    padding: 0 0.61rem /* 46/75 */;
    margin-bottom: 0.93rem /* 70/75 */;
  }
  .example_m_desc > div {
    text-align: left;
    background: url(../img/mobile/ecop/3_14.png) no-repeat left 0.13rem
      /* 10/75 */;
    font-size: 0.25rem /* 19/75 */;
    background-size: 1%;
    padding-left: 0.19rem /* 14/75 */;
  }
  .example_img {
    margin-top: 0.27rem /* 20/75 */;
  }
  .example_m img {
    width: 100%;
  }
  .example_m_title {
    font-size: 0.29rem /* 22/75 */;
    margin: 0.27rem /* 20/75 */ 0;
  }
}
