/* header */
.header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  z-index: 100;
}
.header-nav {
  height: 0.6rem /* 116/192 */;
  line-height: 0.6rem /* 116/192 */;
  margin-right: 0.52rem /* 100/192 */;
}
.header-nav li {
  float: left;
  margin-left: 0.39rem /* 75/192 */;
}
.header-nav li:first-child {
  margin-left: 0;
}
.header-nav li a {
  font-size: 0.11rem /* 22/192 */;
  color: #fff;
}
.logo {
  padding: 0.1rem /* 20/192 */;
  margin-left: 0.85rem /* 164/192 */;
}
.logo img {
  width: 1.35rem /* 260/192 */;
  height: 0.4rem /* 77/192 */;
}
.header-nav li.active a {
  border-bottom: 2px solid #fc0200;
  padding-bottom: 0.01rem /* 2/192 */;
}
/* back_top */
.back_top {
  position: fixed;
  top: 50%;
  right: 0.13rem /* 25/192 */;
  z-index: 100;
  display: none;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.back_top li {
  margin-bottom: 0.1rem /* 20/192 */;
  cursor: pointer;
}
.back_top .back_top_icon {
  width: 0.24rem /* 47/192 */;
  height: 0.24rem /* 47/192 */;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.back_top li:first-child {
  position: absolute;
  top: 0;
  right: 0;
}
.back_top li:nth-child(2) {
  margin-top: 0.34rem; /* 65/192 */
}
.back_top > li:first-child .telephone_top {
  opacity: 0;
  width: 0.24rem /* 47/192 */;
  height: 0.24rem /* 47/192 */;
  background-color: #e83f59;
  border-radius: 0.16rem /* 30/192 */;
  line-height: 0.24rem /* 47/192 */;
  text-align: center;
  color: #fff;
  font-size: 0.11rem /* 22/192 */;
  transition: width 0.3s;
  overflow: hidden;
}
.back_top > li:first-child:hover .telephone_top {
  opacity: 1;
  width: 1.04rem /* 200/192 */;
}
.back_top > li:first-child:hover .back_top_icon {
  display: none;
}
.back_top li:first-child .back_top_icon {
  position: absolute;
  background-image: url(../img/index/fubiao1.png);
}
.back_top li:nth-child(2) .back_top_icon {
  background-image: url(../img/index/fubiao2.png);
}
.back_top li:nth-child(3) .back_top_icon {
  background-image: url(../img/index/wc1.png);
}
.back_top li:nth-child(3) .erweima {
  position: absolute;
  transition: all 0.3s;
  opacity: 0;
  top: 0.1rem /* 20/192 */;
  left: 0.52rem /* 100/192 */;
}
.back_top li:nth-child(3) .erweima img {
  width: 0.76rem /* 145/192 */;
  height: 0.76rem /* 145/192 */;
}

.back_top li:nth-child(3):hover .erweima {
  animation: move 0.5s;
  animation-fill-mode: forwards;
}
@keyframes move {
  0% {
    top: 0.1rem /* 20/192 */;
    left: -0.52rem /* 100/192 */;
    opacity: 0;
  }
  100% {
    top: 0.1rem /* 20/192 */;
    left: -0.89rem /* 170/192 */;
    opacity: 1;
  }
}
.back_top li:nth-child(4) .back_top_icon {
  background-image: url(../img/index/fubiao3.png);
}
.back_top li:last-child .back_top_icon {
  background-image: url(../img/index/fubiao4.png);
}
/* contactUs */
#contactUs .back_top li:first-child .back_top_icon {
  position: absolute;
  background-image: url(../img/contactUs/1_04.png);
}
#contactUs .back_top li:nth-child(2) .back_top_icon {
  background-image: url(../img/contactUs/1_07.png);
}
#contactUs .back_top li:nth-child(4) .back_top_icon {
  background-image: url(../img/contactUs/1_09.png);
}
#contactUs .back_top li:last-child .back_top_icon {
  background-image: url(../img/contactUs/1_11.png);
}
#contactUs .telephone_top {
  background-color: #d38a61;
}
#contactUs .back_top li:nth-child(3) .back_top_icon {
  background-image: url(../img/index/wc6.png);
}
/* ecommerceLive */
#ecommerceLive .back_top li:first-child .back_top_icon {
  position: absolute;
  background-image: url(../img/ecommerceLive/1_3.png);
}
#ecommerceLive .back_top li:nth-child(2) .back_top_icon {
  background-image: url(../img/ecommerceLive/1_4.png);
}
#ecommerceLive .back_top li:nth-child(4) .back_top_icon {
  background-image: url(../img/ecommerceLive/1_5.png);
}
#ecommerceLive .back_top li:last-child .back_top_icon {
  background-image: url(../img/ecommerceLive/1_6.png);
}
#ecommerceLive .telephone_top {
  background-color: #a2c7fe;
}
#ecommerceLive .back_top li:nth-child(3) .back_top_icon {
  background-image: url(../img/index/wc3.png);
}
/* ecomOperate */
#ecomOperate .back_top li:first-child .back_top_icon {
  position: absolute;
  background-image: url(../img/ecomOperate/5_03.png);
}
#ecomOperate .back_top li:nth-child(2) .back_top_icon {
  background-image: url(../img/ecomOperate/5_06.png);
}
#ecomOperate .back_top li:nth-child(4) .back_top_icon {
  background-image: url(../img/ecomOperate/5_08.png);
}
#ecomOperate .back_top li:last-child .back_top_icon {
  background-image: url(../img/ecomOperate/5_10.png);
}
#ecomOperate .telephone_top {
  background-color: #46b4ff;
}
#ecomOperate .back_top li:nth-child(3) .back_top_icon {
  background-image: url(../img/index/wc5.png);
}
/* tiktokOperate */
#tiktokOperate .back_top li:first-child .back_top_icon {
  position: absolute;
  background-image: url(../img/tiktokOperate/fubiao1.png);
}
#tiktokOperate .back_top li:nth-child(2) .back_top_icon {
  background-image: url(../img/tiktokOperate/fubiao2.png);
}
#tiktokOperate .back_top li:nth-child(4) .back_top_icon {
  background-image: url(../img/tiktokOperate/fubiao3.png);
}
#tiktokOperate .back_top li:last-child .back_top_icon {
  background-image: url(../img/tiktokOperate/fubiao4.png);
}
#tiktokOperate .telephone_top {
  background-color: #ff2f56;
}
#tiktokOperate .back_top li:nth-child(3) .back_top_icon {
  background-image: url(../img/index/wc2.png);
}
/* tiktokTrain */
#tiktokTrain .back_top li:first-child .back_top_icon {
  position: absolute;
  background-image: url(../img/tiktokTrain/1_7.png);
}
#tiktokTrain .back_top li:nth-child(2) .back_top_icon {
  background-image: url(../img/tiktokTrain/1_8.png);
}
#tiktokTrain .back_top li:nth-child(4) .back_top_icon {
  background-image: url(../img/tiktokTrain/1_9.png);
}
#tiktokTrain .back_top li:last-child .back_top_icon {
  background-image: url(../img/tiktokTrain/1_10.png);
}
#tiktokTrain .telephone_top {
  background-color: #ffe777;
}
#tiktokTrain .back_top li:nth-child(3) .back_top_icon {
  background-image: url(../img/index/wc4.png);
}
/* mgwb */
#mgwb .back_top li:first-child .back_top_icon {
  position: absolute;
  background-image: url(../img/mgwb/11_03.png);
}
#mgwb .back_top li:nth-child(4) .back_top_icon {
  background-image: url(../img/mgwb/11_10.png);
}
#mgwb .back_top li:last-child .back_top_icon {
  background-image: url(../img/mgwb/11_12.png);
}
#mgwb .telephone_top {
  background-color: #ffa200;
}
#mgwb .back_top li:nth-child(3) .back_top_icon {
  background-image: url(../img/mgwb/11_08.png);
}
/* newsCenter */
#newsCenter .back_top li:nth-child(5) .back_top_icon {
  background-image: url(../img/newsCenter/top.png);
}

/* 移动端 */
@media screen and (max-width: 750px) {
  .head_m {
    text-align: right;
    height: 1.73rem /* 130/75 */;
    line-height: 1.73rem /* 130/75 */;
    padding-left: 0.8rem /* 60/75 */;
    padding-right: 0.53rem /* 40/75 */;
    box-shadow: 0 0 0.47rem /* 35/75 */ rgba(95, 95, 95, 0.2);
    background: #fff;
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
  }
  .logo_m img {
    width: 2.83rem /* 212/75 */;
    height: 0.71rem /* 53/75 */;
  }
  .head_m > img {
    width: 0.48rem /* 36/75 */;
    height: 0.37rem /* 28/75 */;
  }
  .nav_list {
    display: none;
    text-align: center;
    background-color: #fff;
  }
  .nav_head {
    height: 1.73rem /* 130/75 */;
    line-height: 1.73rem /* 130/75 */;
    padding-left: 0.8rem /* 60/75 */;
    padding-right: 0.47rem /* 35/75 */;
    box-shadow: 0 0 0.47rem /* 35/75 */ rgba(95, 95, 95, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
  }
  .nav_head img {
    width: 2.83rem /* 212/75 */;
    height: 0.71rem /* 53/75 */;
  }
  .nav_head span {
    padding: 0.07rem /* 5/75 */ 0.13rem /* 10/75 */;
    float: right;
    font-size: 0.37rem /* 28/75 */;
    line-height: normal;
    margin-top: 0.53rem /* 40/75 */;
  }
  .nav_list ul {
    margin-top: 1.73rem /* 130/75 */;
    font-size: 0.35rem /* 26/75 */;
    text-align: left;
    padding: 0.33rem /* 25/75 */ 0.47rem /* 35/75 */;
  }
  .nav_list li {
    height: 1.33rem /* 100/75 */;
    line-height: 1.33rem /* 100/75 */;
    border-bottom: 1px solid #e5e5e5;
    background: url(../img/mobile/index/1_07.png) no-repeat right;
  }
  .nav_list li a {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  .nav_phone {
    margin-top: 2rem /* 150/75 */;
  }
  .nav_phone p {
    margin-top: 0.07rem /* 5/75 */;
    font-size: 0.35rem /* 26/75 */;
  }
  .nav_phone img {
    width: 0.6rem /* 45/75 */;
    height: 0.59rem /* 44/75 */;
  }
  .nav_message {
    margin: 0.8rem /* 60/75 */ 0 0.07rem /* 5/75 */ 0;
  }
  .nav_message img {
    width: 0.64rem /* 48/75 */;
    height: 0.59rem /* 44/75 */;
  }
  .nav_ewm {
    padding-bottom: 1.6rem /* 120/75 */;
  }
  .nav_ewm img {
    width: 2.32rem /* 174/75 */;
    height: 2.31rem /* 173/75 */;
  }
}
