#art-design{
  letter-spacing: .01rem /* 2/192 */;
}
#art-design h2 {
  font-weight: bold;
  font-size: .16rem /* 30/192 */;
}
#art-design .w1005 {
  width: 5.26rem /* 1010/192 */;
  margin-left: auto;
  margin-right: auto;
}
/* 遇到问题 */
#matter {
  text-align: center;
  padding-top: .57rem /* 110/192 */;
}
#matter .sub-heading {
  font-size: .09rem /* 18/192 */;
  margin-bottom: .47rem /* 90/192 */;
  margin-top: .08rem /* 15/192 */;
  opacity: .9;
}
#matter .desc li {
  display: inline-block;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1.55rem /* 298/192 */;
  height: 2.02rem /* 388/192 */;
  margin-right: .25rem /* 48/192 */;
}
#matter .desc li .li_mask {
  height:100%;
  width:100%;
}
#matter .desc li .li_mask + div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.09rem /* 210/192 */;
  color: #fff;
  font-size: .13rem /* 25/192 */;
  transform: translate(-50%,-50%);
}
#matter .desc li:nth-child(1) {
  background-image: url("../img/mgwb/1.png");
}
#matter .desc li:nth-child(2) {
  background-image: url("../img/mgwb/2.png");
}
#matter .desc li:nth-child(3) {
  margin-right: 0px;
  background-image: url("../img/mgwb/3.png");
}
/* 服务范围 */
#range {
  margin-top: .57rem /* 110/192 */;
  text-align: center; 
}
#range .range-bg {
  height: 3.23rem /* 620/192 */;
  background-color: #f9d119;
}
#range .range-title {
  padding-top: .81rem /* 156/192 */;
  padding-bottom: .1rem /* 20/192 */;
  font-weight: bold;
  position: relative;
}
#range .range-title >div {
  color: #fff;
  font-size: .29rem /* 55/192 */;
  opacity: 0.7;
  text-transform: uppercase;
  position: absolute;
  top: .47rem /* 90/192 */;
  left: 50%;
  transform: translateX(-50%);
}
#range .range-title h2 {
  margin-top: 0;
  margin-bottom: -.05rem /* 10/192 */;
  opacity: 0.8;
}
#range .range-title span {
  color: #fff;
  font-size: .25rem /* 48/192 */;
  letter-spacing: .05rem /* 10/192 */;
}
#range .desc li {
  height: 1.41rem /* 270/192 */;
  width: 1.74rem /* 334/192 */;
  float: left;
  background-size: cover;
  position: relative;
}
#range .desc li .img_mask  {
  height:100%;
  width:100%;
  background: rgba(0, 0, 0, 0.7);
}
#range .desc li:nth-child(1) {
  background-image: url("../img/mgwb/range_1.jpg");
}
#range .desc li:nth-child(2) {
  background-image: url("../img/mgwb/range_2.jpg");
}
#range .desc li:nth-child(3) {
  background-image: url("../img/mgwb/range_3.jpg");
}
#range .desc li:nth-child(4) {
  background-image: url("../img/mgwb/range_4.jpg");
}
#range .desc li:nth-child(5) {
  background-image: url("../img/mgwb/range_5.jpg");
}
#range .desc li:nth-child(6) {
  background-image: url("../img/mgwb/range_6.jpg");
}
#range .desc li .img_mask + div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: .83rem /* 160/192 */;
  color: #fff;
  font-size: .13rem /* 25/192 */;
  transform: translate(-50%,-50%);
  opacity: 0.8;
}
/* 服务优势 */
#advantage {
  text-align: center;
  padding-top: 1.82rem /* 350/192 */;
}  
#advantage span{
  font-size: .09rem /* 18/192 */;
  line-height: .2rem /* 38/192 */;
}
#advantage .line{
  margin: 0 auto;
  width: .52rem /* 100/192 */;
  height: .01rem /* 2/192 */;
  background-color: #ffa300;
  margin-top: .18rem /* 35/192 */;
  margin-bottom: .31rem /* 60/192 */;
}
#advantage .adv_column{
  display: flex;
  margin-left: .52rem /* 100/192 */;
}
#advantage .adv_icon {
  margin-bottom: .21rem /* 40/192 */;

}
#advantage .adv_icon img{
  width: 1.31rem /* 252/192 */;
  height: .93rem /* 178/192 */;
}
#advantage .adv_desc {
  margin-top: .29rem /* 55/192 */;
  margin-left: .21rem /* 40/192 */;
  text-align: left;
  font-size: .09rem /* 18/192 */;
}
#advantage .adv_desc > div:first-child {
  font-weight: bold;
  font-size: .13rem /* 24/192 */;
}
/* 服务流程 */
#process {
  text-align: center;
  padding-top: .52rem /* 100/192 */;
}
#process span{
  font-size: .09rem /* 18/192 */;
  line-height: .2rem /* 38/192 */;
}
#process .line{
  margin: 0 auto;
  width: .52rem /* 100/192 */;
  height: .01rem /* 2/192 */;
  background-color: #ffa300;
  margin-top: .18rem /* 35/192 */;
  margin-bottom: .81rem /* 155/192 */;
}
#process .process_content{
  position: relative;
}
#process .process_content .bgc img{
  width: 100%;
}
#process .process_content .process_step {
  position: absolute;
}
#process .process_content >img {
  position: absolute;
  width: .39rem /* 75/192 */;
  height: .39rem /* 75/192 */;
}
#process .process_content .process_step> div:first-child{
  font-size: .13rem /* 24/192 */;
  font-weight: bold;
}
#process .process_content .process_step> div:last-child{
  font-size: .09rem /* 18/192 */;
}
#process .process_content .process_step:nth-child(2){
  top: -.21rem /* 40/192 */;
  left: .26rem /* 50/192 */;
}
#process .process_content img:nth-child(3){
  top: .44rem /* 84/192 */;
  left: .38rem /* 72/192 */;
}
#process .process_content .process_step:nth-child(4){
  left: 1.46rem /* 280/192 */;
  bottom: -.31rem /* 60/192 */;
}
#process .process_content img:nth-child(5){
  top: -.19rem /* 36/192 */;
  left: 1.64rem /* 314/192 */;
}
#process .process_content .process_step:nth-child(6){
  right: 1.72rem /* 330/192 */;
  top: -.42rem /* 80/192 */;
}
#process .process_content img:nth-child(7){
  right: 1.77rem /* 340/192 */;
  top: .22rem /* 42/192 */;
}
#process .process_content .process_step:nth-child(8){
  right: .26rem /* 50/192 */;
  bottom: -.47rem /* 90/192 */;
}
#process .process_content img:nth-child(9){
  right: .39rem /* 74/192 */;
  bottom: .21rem /* 40/192 */;
}
/* 设计案例 */
#case {
  margin-top: 1.04rem /* 200/192 */;
  text-align: center;
}
#case .vertical-line {
  display: inline-block;
  width: .52rem /* 100/192 */;
  height: .01rem /* 2/192 */;
  margin: .16rem /* 30/192 */ 0 .21rem /* 40/192 */ 0;
  background-color: #ffa200;
}
#case .tab-header {
  font-size: .09rem /* 18/192 */;
  text-align: center;
}
#case .tab-header li {
  display: inline-block;
  cursor: pointer;
  margin-left: .13rem /* 24/192 */;
  color: #ffa200;
  border: .01rem /* 2/192 */ solid #ffa200;
  line-height: .17rem /* 32/192 */;
  padding: 0 .13rem /* 24/192 */;
}
#case .tab-header li:first-child {
  margin-left: 0;
}
#case .tab-header li.active {
  background-color: #ffa200;
  color: #ffffff;
}
#case .tab-content {
  margin: .19rem /* 36/192 */ 0;
  text-align: left;
}
#case .tab-content > li {
  font-size: .07rem /* 14/192 */;
  line-height: .16rem /* 30/192 */;
}
#case .tab-content .kwicks {
  height: 4.59rem /* 882/192 */;
  width: 5.26rem /* 1010/192 */;
}
#case .tab-content .kwicks li a img {
  width: 1.17rem /* 225/192 */;
  height: 4.59rem /* 882/192 */;
}
#case .tab-content .kwicks li > img {
  width: 4.17rem /* 800/192 */;
  height: 4.17rem /* 800/192 */;
}
#case .tab-content .kwicks.poster li a img {
  width: 1.18rem /* 226/192 */;
  height: 2.9rem /* 556/192 */;
}
#case .tab-kwicks-ready .tab-content > li {
  display: none;
}
#case .tab-kwicks-ready .tab-content > li.active, #case .tab-kwicks-ready .tab-content > li:first-child {
  display: block;
}
/* 服务规范 */
#standard {
  letter-spacing: 0;
  text-align: center;
  padding-top: .21rem /* 40/192 */;
  height: 2.86rem /* 550/192 */;
  background-color: #fbfafa;
}

#standard h2 {
  margin-top: 0;
  margin-bottom: .05rem /* 10/192 */;
}

#standard .english-heading {
  font-weight: bold;
  font-size: .07rem /* 14/192 */;
  text-transform: uppercase;
  opacity: .8;
  letter-spacing: 0;
}

#standard .vertical-line {
  display: inline-block;
  width: .52rem /* 100/192 */;
  height: .01rem /* 2/192 */;
  margin: .16rem /* 30/192 */ 0 .21rem /* 40/192 */ 0;
  background-color: #ffa200;
}

#standard .tab-container {
  width: 3.76rem /* 722/192 */;
  margin: 0 auto;
}

#standard .tab-header {
  font-size: .09rem /* 18/192 */;
}

#standard .tab-header li {
  position: relative;
  cursor: pointer;
  float: left;
  width: 49%;
  margin-left: -1px;
  color: #b2b2b2;
  border: 1px solid #b2b2b2;
  text-align: center;
  line-height: .18rem /* 34/192 */;
}

#standard .tab-header li.active {
  z-index: 1;
  color: #ffa200;
  border-color: #ffa200;
}

#standard .tab-header li.active:before, #standard .tab-header li.active:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -.03rem /* 6/192 */;
  border-style: solid;
  border-width: .03rem /* 6/192 */ .03rem /* 6/192 */ 0;
  border-left-color: transparent;
  border-right-color: transparent;
}

#standard .tab-header li.active:before {
  top: .18rem /* 35/192 */;
  border-top-color: #ffa200;
}

#standard .tab-header li.active:after {
  border-top-color: #fbf9fa;
}

#standard .tab-content {
  margin: .19rem /* 36/192 */ 0;
  text-align: left;
}

#standard .tab-content p{
  white-space:nowrap; 
}

#standard .tab-content li {
  display: none;
  font-size: .07rem /* 14/192 */;
  line-height: .16rem /* 30/192 */;
}

#standard .tab-content li.active, #standard .tab-content li:first-child {
  display: block;
}

#standard .tab-content p {
  margin: 0;
}
/* 放大图片 */
#zoom-layer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.8);
  z-index: 1000;
  text-align: center;
  width: 100%;
  height: 100%;
  /* 图片连续双击变蓝色 */
  -moz-user-select: none;
  -webkit-user-select: none; 
  -ms-user-select: none;
  user-select: none;
}
#zoom-layer .close-icon{
  color: #fff;
  width: .25rem /* 48/192 */;
  height: .25rem /* 48/192 */;
  position: absolute;
  right: .26rem /* 50/192 */;
  top: .13rem /* 25/192 */;
  cursor: pointer; 
  background:  url("../img/mgwb/notification_close.png") no-repeat 0px -.24rem /* 47/192 */;
  background-size: cover;
}
#zoom-layer .holder-zoom {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
