
/* public */
.public_title p:first-child{
  font-size: .29rem /* 55/192 */;
  color: #f4cf1f;
}
.public_title p:nth-child(2){
  color: #fff;
  font-size: .16rem /* 30/192 */;
  margin: .09rem /* 18/192 */ 0;
}
.public_title p:nth-child(3){
  color: #fff;
  font-size: .1rem /* 20/192 */;
  border-bottom: .01rem /* 2/192 */ solid #f4cf1f;
  padding-bottom: .01rem /* 2/192 */;
  display: inline-block;
}
/* scope */
.scope {
  position: relative;
  background-image: url(../img/tiktokTrain/ditu_02_min.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.scope .scope_l,.scope_r {
  float: left;
  width: 50%;
  height: 5.02rem /* 964/192 */;
  position: relative;
}
.scope_l_column {
  position: absolute;
  top: 1.22rem /* 235/192 */;
  right: .57rem /* 110/192 */;
}
.scope_l_column .scope_l_content {
  height: 1.04rem /* 200/192 */;
  margin-left: .08rem /* 15/192 */;
  margin-bottom: .05rem /* 10/192 */;
  color: #fff;
  font-size: .1rem /* 20/192 */;
}
.scope_l_column .scope_l_content >p:first-child { 
  font-size: .29rem /* 55/192 */;
  color: #f4cf1f;
}
.scope_l_column .scope_l_content >p:nth-child(2) { 
  font-size: .16rem /* 30/192 */;
  margin: .08rem /* 16/192 */ 0;
}
.scope_l_column .scope_l_content >div { 
  position: relative;
}
.scope_l_column .scope_l_content .underline{ 
  display: inline-block;
  border-bottom: .01rem /* 2/192 */ solid #f4cf1f;
  padding-bottom: .01rem /* 2/192 */;
}
.scope_l_column .scope_l_content div p{ 
  font-size: .1rem /* 20/192 */;
  margin-bottom: .03rem /* 6/192 */;
}
.scope_l_column .scope_l_content div p{ 
  font-size: .1rem /* 20/192 */;
  margin-bottom: .05rem /* 10/192 */;
}
.scope .scope_step {
  text-align: center;
  position: absolute;
  left: 50%;
  top: -.34rem /* 65/192 */;
  width: .68rem /* 130/192 */;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.scope .scope_step ul li{
  margin-bottom: .63rem /* 120/192 */;
  position: relative;
}
.scope .scope_step ul li img{
  width: .45rem /* 87/192 */;
  height: .45rem /* 87/192 */;
}
.scope .scope_step ul li:first-child img {
  width: .67rem /* 129/192 */;
  height: .67rem /* 129/192 */;
}
.scope .scope_step ul li:last-child img {
  width: .67rem /* 129/192 */;
  height: .67rem /* 129/192 */;
}
.scope .scope_step ul li:last-child  {
  margin-bottom: 0;
}
.scope .scope_step ul li .step_line{
  width: 1px;
  height: .83rem /* 160/192 */;
  background-color: #f4cf1f;
  position: absolute;
  top: .45rem /* 87/192 */;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.scope .scope_step ul li:first-child{
  margin-bottom: .83rem /* 160/192 */;
}
.scope .scope_step ul li:first-child .step_line{
  top: .67rem /* 129/192 */;
}
.scope .scope_step ul li:nth-child(2){
  margin-bottom: 1.4rem /* 268/192 */;
}
.scope .scope_step ul li:nth-child(2) .step_line{
  height: 1.4rem /* 268/192 */;
}
.scope .scope_step ul li:nth-child(3){
  margin-bottom: 1.23rem /* 236/192 */;
}
.scope .scope_step ul li:nth-child(3) .step_line{
  height: 1.23rem /* 236/192 */;
}
.scope .scope_r >div {
  position: absolute;
  top: 1.22rem /* 235/192 */;
  left: .63rem /* 120/192 */;
}
.scope .scope_r img {
  float: left;
}
.scope .scope_r ul li {
  float: left;
  margin-right: .36rem /* 70/192 */;
  margin-bottom: .82rem /* 158/192 */;
}
.scope .scope_r ul:first-child li:first-child img{
  width: .29rem /* 55/192 */;
  height: .28rem /* 53/192 */;
}
.scope .scope_r ul:first-child li:nth-child(2) img{
  width: .3rem /* 57/192 */;
  height: .26rem /* 49/192 */;
}
.scope .scope_r ul:nth-child(2) li:nth-child(1) img{
  width: .29rem /* 55/192 */;
  height: .26rem /* 50/192 */;
}
.scope .scope_r ul:nth-child(2) li:nth-child(1) {
  margin-right: .64rem /* 122/192 */
}
.scope .scope_r ul:nth-child(2) li:nth-child(2) img{
  width: .27rem /* 52/192 */;
  height: .27rem /* 51/192 */;
}
.scope_r_content {
  float: left;
  margin-left: .09rem /* 18/192 */;
}
.scope .scope_r ul:nth-child(2) li:nth-child(2) .scope_r_content{
  margin-left: .12rem /* 23/192 */
}
.scope_r_content p {
  font-size: .09rem /* 18/192 */;
  color: #fff;
}
.scope_r_content div:first-child {
  font-size: .13rem /* 25/192 */;
  color: #f4cf1f;
  margin-top: .09rem /* 18/192 */;
  position: relative;
}
.scope_r_content div:first-child span {
  width: .53rem /* 102/192 */;
  height: .01rem /* 2/192 */;
  background-color: #f4cf1f;
  display: inline-block;
  position: absolute;
  bottom: -.01rem /* 2/192 */;
  left: 0;
}
.scope_r_content div:first-child span.sp {
  width: .65rem /* 125/192 */;
}
.scope_r_content p {
  background: url(../img/tiktokTrain/1_11.png) no-repeat  left 60%;
  padding-left: .1rem /* 20/192 */;
  margin-bottom: .02rem /* 4/192 */;
  background-size: .06rem /* 12/192 */ .06rem /* 12/192 */;
}
.scope_r_content p:nth-child(2) {
  margin-top: .13rem /* 24/192 */;
}
/* need */
.need {
  position: relative;
  height: 6.98rem /* 1340/192 */;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/tiktokTrain/ditu_03_min.jpg);
}
.need >img {
  width: .68rem /* 131/192 */;;
  height: .67rem /* 129/192 */;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.need >img:first-child {
  top: -.34rem /* 65/192 */;
}
.need >img:last-child {
  bottom: -.34rem /* 65/192 */;
}
.need .need_l,.need_r {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}
.need .scope_l_column {
  top: 1.09rem /* 210/192 */;
  right: 0;
}
.need .scope_l_column .scope_l_content >div:nth-child(3) span{ 
  width: .51rem /* 98/192 */
}
.need .scope_l_column .scope_l_content >div:nth-child(4) span{ 
  width: 1.12rem /* 215/192 */
}
.need .need_l  div:last-child img {
  width: 3.76rem /* 722/192 */;
  height: 3.17rem /* 609/192 */;
  margin-top: .31rem /* 60/192 */;
}
.need .scope_l_column .scope_l_content {
  margin-left: .52rem /* 100/192 */;
}
.need .need_r ul  {
  position: absolute;
  top: 1.17rem /* 225/192 */;
  left: .68rem /* 130/192 */;
}
.need .need_r ul li {
  height: 1.32rem /* 254/192 */;
  width: 2.58rem /* 496/192 */;
  background-color: #f4cf1f;
  border-radius: .16rem /* 30/192 */;
  margin-bottom: .29rem /* 55/192 */;
  text-align: center;
  padding: 0 .73rem /* 140/192 */;
  box-sizing: border-box;
  position: relative;
}
.need_r .card_title{
  font-size: .16rem /* 30/192 */;
  color: #fff;
  background: url(../img/tiktokTrain/kuang_02.png) no-repeat left 0,
  url(../img/tiktokTrain/kuang_03.png) no-repeat right 0,
  url(../img/tiktokTrain/kuang_4.png) no-repeat left bottom,
  url(../img/tiktokTrain/kuang_5.png) no-repeat right bottom;
  position: absolute;
  top: 50%;
  width: 1.18rem /* 226/192 */;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  opacity: 1;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}
.need_r .card_title p{
  padding-top: .04rem /* 8/192 */;
}
.need_r .card_title p:last-child{
  padding-bottom:  .04rem /* 8/192 */;
}
.need_r .card_hover {
  opacity: 0;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}
.need_r .card_hover >p{
  font-size: .16rem /* 30/192 */;
  color: #fff;
  padding-top: .04rem /* 8/192 */;
}
.need_r .card_hover .card_hover_content {
  height: .99rem /* 190/192 */;
  width: 2.52rem /* 484/192 */;
  background-color: #fff;
  position: absolute;
  bottom: .03rem /* 6/192 */;
  left: .03rem /* 6/192 */;
  border-radius: 0 0 .16rem /* 30/192 */ .16rem /* 30/192 */;
  padding: .19rem /* 36/192 */ 0;
  box-sizing: border-box;
  opacity: 0;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
}
.need_r .card_hover .card_hover_content >div {
  display: inline-block;
  text-align: left;
}
.need_r .card_hover .card_hover_content p{
  font-size: .09rem /* 18/192 */;
  color: #333;
  margin-bottom: .04rem /* 8/192 */;
  white-space:nowrap;
}
.need_r ul li:hover .card_title {
  opacity: 0;
}
.need_r ul li:hover .card_hover {
  opacity: 1;
}
.need_r ul li:hover .card_hover_content {
  opacity: 1;
}
/* satisfy */
.satisfy {
  text-align: center;
  height: 5.73rem /* 1100/192 */;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/tiktokTrain/ditu_04_min.jpg);
  padding-top: 1.04rem /* 200/192 */;
  box-sizing: border-box;
  position: relative;
}
.satisfy ul {
  display: inline-block;
  margin: 0 auto;
  margin-top: .39rem /* 75/192 */;

}
.satisfy ul li {
  float: left;
  width: 2.11rem /* 405/192 */;
  height: 2.56rem /* 491/192 */;
  background-image: url(../img/tiktokTrain/kuang_7.png);
  margin-right: .05rem /* 10/192 */;
  background-size: contain;
  padding: .21rem /* 40/192 */ 0;
  box-sizing: border-box;
  transition: all .3s;
  overflow: hidden;
}
.satisfy ul li:last-child {
  margin-right: 0;
}
.satisfy .satisfy_card  {
  text-align: left;
  display: inline-block;
  position: relative;
  height: 100%;
}
.satisfy .satisfy_card > .static_p  {
  font-size: .33rem /* 63/192 */;
  color: #f4cf1f;
}
.satisfy .satisfy_card .hover_p {
  font-size: .94rem /* 181/192 */;
  color: #ffe777;
  position: absolute;
  top: -.47rem /* 90/192 */;
  left: -.28rem /* 54/192 */;
  display: none;
}
.satisfy .satisfy_card .card_title {
  margin-top: .04rem /* 8/192 */;
  font-size: .1rem /* 20/192 */;
  font-weight: bold;
  position: absolute;
}
.satisfy .satisfy_card .card_title p {
  margin-bottom: .02rem /* 4/192 */;
}
.satisfy .satisfy_card .card_content {
  margin-top: .6rem /* 116/192 */;
  font-size: .09rem /* 18/192 */;
}
.satisfy .satisfy_card .card_footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -.19rem /* 37/192 */;
}
.satisfy .satisfy_card .card_content p {
  margin-bottom: .03rem /* 6/192 */;
  white-space:nowrap;
}
.satisfy .satisfy_card .card_footer div {
  width: .25rem /* 48/192 */;
  height: .29rem /* 55/192 */;
  background-image: url(../img/tiktokTrain/2_5.png);
  background-size: contain;
  margin: 0 auto;
  margin-top: .26rem /* 50/192 */;
  background-repeat: no-repeat;
}
.satisfy .satisfy_card .card_footer p{
  width: .3rem /* 57/192 */;
  height: .01rem /* 2/192 */;
  background-color: #f4cf1f;
  margin: 0 auto;
  margin-top: .09rem /* 18/192 */;
}
.satisfy ul li:nth-child(2) .card_footer div {
  width: .3rem /* 57/192 */;
  height: .28rem /* 54/192 */;
  background-image: url(../img/tiktokTrain/2_6.png);
}
.satisfy ul li:nth-child(1):hover  .card_footer div {
  background-image: url(../img/tiktokTrain/2_1.png);
}
.satisfy ul li:nth-child(2):hover  .card_footer div {
  background-image: url(../img/tiktokTrain/2_2.png);
}
.satisfy ul li:nth-child(3) .card_footer div {
  width: .28rem /* 54/192 */;
  height: .29rem /* 55/192 */;
  background-image: url(../img/tiktokTrain/2_7.png);
}
.satisfy ul li:nth-child(3):hover  .card_footer div {
  background-image: url(../img/tiktokTrain/2_3.png);
}
.satisfy ul li:nth-child(4) .card_footer div {
  width: .27rem /* 51/192 */;
  height: .29rem /* 55/192 */;
  background-image: url(../img/tiktokTrain/2_8.png);
}
.satisfy ul li:nth-child(4):hover  .card_footer div {
  background-image: url(../img/tiktokTrain/2_4.png);
}
.satisfy ul li:hover  .card_footer div {
  animation: rotate .5s linear infinite;
  -webkit-animation: rotate .3s linear infinite; /* Safari 和 Chrome */
  animation-iteration-count:1;
  -webkit-animation-iteration-count:1; /* Safari 和 Chrome */
}
@keyframes rotate {
  0% {
   transform: translateY(0) ;
  }
  25% {
    transform: translateY(.04rem /* 8/192 */);
  }
  50% {
    transform: translateY(.08rem /* 16/192 */) scale(1.1, 0.9);
  }
  75% {
    transform: translateY(.04rem /* 8/192 */) ;
  }
  100% {
    transform: translateY(0) ;
  }
}
.satisfy ul li:hover .card_footer p {
  background-color: #000;
}
.satisfy ul li:hover {
  background-image: url(../img/tiktokTrain/kuang_6.png);
}
.satisfy ul li:hover .static_p{
  opacity: 0;
}
.satisfy ul li:hover .satisfy_card .hover_p{
  display: block;
}
.satisfy >img {
  width: .68rem /* 131/192 */;;
  height: .67rem /* 129/192 */;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.satisfy >img:first-child {
  top: -.34rem /* 65/192 */;
}
.satisfy >img:last-child {
  bottom: -.34rem /* 65/192 */;
}